<div role="note" aria-labelledby="spotlight-notice" class="spotlight-notice" style="background-color: {{bgcolor}};">
    <strong class="spotlight-notice-title">{{title}}</strong>
    <p class="spotlight-notice-text">{{{message}}}</p>
</div>